.wrapper{
    max-width: 1268px;
    margin: 0 auto;
}


.navbar{
    background: #fff;
    .navbar-brand{
        color: #2D3F58;
    }
    .navbar-nav{
        border: 1px solid #ffff;
        border-radius: 100px;
        margin-left: 30px;
        .nav-item{
            margin: 0 15px;
            .nav-link{
                padding: 5px 15px;
                 &:hover{
                    background: #96F0FE !important;
                    border-radius: 20px;
                }
            }
        }
    }
}



.btn{
    padding: 8px 24px;
    margin-left: 30px;
    background: #EDD700;
    border: none;
    border-radius: 100px;
}
